@model HomeModels

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Delete" asp-route-id="@Model.Product.Id"  enctype="multipart/form-data" class="pvId">
    <div class="form-group">
        <label asp-for="Product.CatBraPivot.Category"></label>
        <select disabled asp-items="Model.CategorySelect" asp-for="Product.CatBraPivot.CategoryId" class="categorySelect"  style="font-size: 31px; width: 75%; border-radius: 15px; margin: 20px 0px; margin-left: 2%;">
        </select>

        <span asp-validation-for="CatBraPivots" class="text-danger"></span>

    </div>
    <label asp-for="Product.CatBraPivot.Brand"></label>
    <select disabled asp-items="Model.BrendSelect" asp-for="Product.CatBraPivot.BrandId" class="brendSelect"  style="font-size: 31px; width: 75%; border-radius: 15px; margin: 20px 0px; margin-left: 2%;">

    </select>

<div class="form-group">
    <label asp-for="Photo"></label>
    @foreach (var item in Model.ImageProduct)
    {
        <img src="~/img/MyProduct/@item.ImagePath" width="150" />

    }
    <span asp-validation-for="Photo" class="text-danger"></span>


</div>

    <div class="form-group">
        <label asp-for="Product.Name"></label>
        <input disabled type="text" asp-for="Product.Name" class="from-control" style="font-size: 31px; width: 75%; border-radius: 15px; margin: 20px 0px; margin-left: 2%;" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Memory"></label>
        <input disabled type="text" asp-for="Product.Memory" class="from-control" style="font-size: 31px; width: 75%; border-radius: 15px; margin: 20px 0px; margin-left: 2%;" />
        <span asp-validation-for="Product.Memory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.RAM"></label>
        <input disabled type="text" asp-for="Product.RAM" class="from-control" style="font-size: 31px; width: 75%; border-radius: 15px; margin: 20px 0px; margin-left: 2%;" />
        <span asp-validation-for="Product.RAM" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Camera"></label>
        <input disabled type="text" asp-for="Product.Camera" class="from-control" style="font-size: 31px; width: 75%; border-radius: 15px; margin: 20px 0px; margin-left: 2%;" />
        <span asp-validation-for="Product.Camera" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Ghz"></label>
        <input disabled type="text" asp-for="Product.Ghz" class="from-control" style="font-size: 31px; width: 75%; border-radius: 15px; margin: 20px 0px; margin-left: 2%;" />
        <span asp-validation-for="Product.Ghz" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.DisplaySize"></label>
        <input disabled type="text" asp-for="Product.DisplaySize" class="from-control" style="font-size: 31px; width: 75%; border-radius: 15px; margin: 20px 0px; margin-left: 2%;" />
        <span asp-validation-for="Product.DisplaySize" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Batary"></label>
        <input disabled type="text" asp-for="Product.Batary" class="from-control" style="font-size: 31px; width: 75%; border-radius: 15px; margin: 20px 0px; margin-left: 2%;" />
        <span asp-validation-for="Product.Batary" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Processor"></label>
        <input disabled type="text" asp-for="Product.Processor" class="from-control" style="font-size: 31px; width: 75%; border-radius: 15px; margin: 20px 0px; margin-left: 2%;" />
        <span asp-validation-for="Product.Processor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.OS"></label>
        <input disabled type="text" asp-for="Product.OS" class="from-control" style="font-size: 31px; width: 75%; border-radius: 15px; margin: 20px 0px; margin-left: 2%;" />
        <span asp-validation-for="Product.OS" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.VideoCart"></label>
        <input disabled type="text" asp-for="Product.VideoCart" class="from-control" style="font-size: 31px; width: 75%; border-radius: 15px; margin: 20px 0px; margin-left: 2%;" />
        <span asp-validation-for="Product.VideoCart" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.ProductionDate"></label>
        <input disabled type="text" asp-for="Product.ProductionDate" class="from-control" style="font-size: 31px; width: 75%; border-radius: 15px; margin: 20px 0px; margin-left: 2%;" />
        <span asp-validation-for="Product.ProductionDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Price"></label>
        <input disabled type="number" asp-for="Product.Price" class="from-control" style="font-size: 31px; width: 75%; border-radius: 15px; margin: 20px 0px; margin-left: 2%;" />
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Discount"></label>
        <input disabled type="text" asp-for="Product.Discount" class="from-control" style="font-size: 31px; width: 75%; border-radius: 15px; margin: 20px 0px; margin-left: 2%;" />
        <span asp-validation-for="Product.Discount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Description"></label>
        <textarea disabled asp-for="Product.Description" class="form-control" style="font-size: 31px; width: 75%; border-radius: 15px; margin: 20px 0px; margin-left: 2%;"></textarea>
        <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-danger btn-lg btn-block" value="Delete" />

    <a asp-action="ProductPage" class="btn btn-primary btn-block btn-lg mt-3">Back to index</a>

</form>
