
@{
    ViewData["Title"] = "Conformemail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Confirm Email</h2>

            <div class="alert alert-success my-5">
                Your email was successfully confirmed.
            </div>

            <a class="btn btn-outline-link" href="/">Home Page</a>
            <a class="btn btn-outline-success" href="/Account/Signin">Sign in</a>
        </div>
    </div>
</div>

