
@{
    ViewData["Title"] = "FailedConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Faild Confirmation Email</h2>

            <div class="alert alert-danger my-5">
                We could not confirm your email. Please retry.
            </div>

            <a class="btn btn-outline-link" href="/">Home Page</a>
        </div>
    </div>
</div>


