
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h2>Write your email to send confirmation</h2>

            <form method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" />
                    @if (ViewBag.EmailError != null)
                    {
                        <span class="text-danger">
                            @ViewBag.EmailError
                        </span>
                    }
                </div>

                <button type="submit" class="btn btn-outline-success">
                    Send
                </button>
            </form>
        </div>
    </div>
</div>

